.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(33.33% - 20px);
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    max-height: 250px;
    
}

.card.expanded {
    flex: 0 1 calc(50% - 20px);
    width: 50%;
    max-width: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
}

.card h3 {
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%; /* Center horizontally */
    top: -50px; /* Move the modal further up */
    transform: translate(-50%, 0); /* Center horizontally after moving up */
    width: 70%;
    max-width: 80%;
    height: auto;
}


.modal-content {
    background-color: #f2f2f2;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}