.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(33.33% - 20px);
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 30px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    max-height: 300px;
    
}

.card.expanded {
    flex: 0 1 calc(50% - 20px);
    width: 50%;
    max-width: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    transition: transform 0.5s; 
    transform: rotate(360deg); /* Apply rotation to the image */
}

.card.rotate-180 img {
    transform: rotate(180deg); /* Apply rotation to the image */
}


.card h3 {
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20;
    top: 0;
    width: 70%;
    height: auto;
    

}

.modal-content {
    background-color: #f2f2f2;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Style the plus button within the cart link */
.cart-link {
    position: relative;
    display: inline-block;
  }
  
  /* Style the cart icon */
  .cart-icon {
    font-size: 24px;
    color: #333; /* Change the color to your preference */
  }
  
  /* Style the plus button */
  .cart-icon::before {
    content: "+"; /* Use a plus sign or your preferred symbol */
    font-size: 20px; /* Adjust the size as needed */
    color: #fff; /* Change the color to your preference */
    background-color: #058205; /* Change the background color to your preference */
    border-radius: 50%; /* Make it circular */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px; /* Adjust the position as needed */
    right: -5px; /* Adjust the position as needed */
    cursor: pointer;
  }
  
  /* Responsive styles for mobile phones */
@media only screen and (max-width: 600px) {
    nav {
        padding: 15px 30px;
    }

    .logo a {
        font-size: 26px;
    }

    .nav-links {
        width: 70%;
    }

    .nav-links li a {
        font-size: 18px;
        margin-right: 15px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner button {
        font-size: 18px;
        margin-top: 15px;
    }

    .icons,
    .deals,
    .products {
        padding: 0 30px;
    }

    .icon img {
        width: 100px;
        height: 100px;
    }

    .icon p {
        font-size: 18px;
    }

    .deal img {
        width: 180px;
        height: 180px;
    }

    .deal h2 {
        font-size: 36px;
    }

    .deal button {
        font-size: 16px;
        margin-top: 15px;
    }

    .product {
        width: 48%;
    }

    .product img {
        height: 180px;
        border-radius: 8px;
    }

    .product h3 {
        font-size: 24px;
        margin-top: 10px;
    }

    .product p {
        font-size: 16px;
        margin-top: 10px;
    }

    .product p:last-child {
        margin-bottom: 15px;
    }

    .button-container,
    .button-container img {
        height: 300px;
    }
}

/* Responsive styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    nav {
        padding: 15px 30px;
    }

    .logo a {
        font-size: 26px;
    }

    .nav-links {
        width: 70%;
    }

    .nav-links li a {
        font-size: 18px;
        margin-right: 15px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner button {
        font-size: 18px;
        margin-top: 15px;
    }

    .icons,
    .deals,
    .products {
        padding: 0 30px;
    }

    .icon img {
        width: 100px;
        height: 100px;
    }

    .icon p {
        font-size: 18px;
    }

    .deal img {
        width: 180px;
        height: 180px;
    }

    .deal h2 {
        font-size: 36px;
    }

    .deal button {
        font-size: 16px;
        margin-top: 15px;
    }

    .product {
        width: 48%;
    }

    .product img {
        height: 180px;
        border-radius: 8px;
    }

    .product h3 {
        font-size: 24px;
        margin-top: 10px;
    }

    .product p {
        font-size: 16px;
        margin-top: 10px;
    }

    .product p:last-child {
        margin-bottom: 15px;
    }

    .button-container,
    .button-container img {
        height: 300px;
    }
}

/* Responsive styles for desktops/laptops */
@media only screen and (min-width: 769px) {
    nav {
        padding: 20px 40px;
    }

    .logo a {
        font-size: 32px;
    }

    .nav-links {
        width: 50%;
    }

    .nav-links li a {
        font-size: 22px;
        margin-right: 20px;
    }

    .banner h1 {
        font-size: 50px;
    }

    .banner button {
        font-size: 24px;
        margin-top: 20px;
    }

    .icons,
    .deals,
    .products {
        padding: 0 40px;
    }

    .icon img {
        width: 120px;
        height: 120px;
    }

    .icon p {
        font-size: 22px;
    }

    .deal img {
        width: 220px;
        height: 220px;
    }

    .deal h2 {
        font-size: 40px;
    }

    .deal button {
        font-size: 20px;
        margin-top: 20px;
    }

    .product {
        width: 30%;
    }

    .product img {
        height: 220px;
        border-radius: 10px;
    }

    .product h3 {
        font-size: 28px;
        margin-top: 15px;
    }

    .product p {
        font-size: 18px;
        margin-top: 15px;
    }

    .product p:last-child {
        margin-bottom: 20px;
    }

    .button-container,
    .button-container img {
        height: 400px;
    }
}