/* Style for the footer */
footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 100px 0; /* Add padding at the top and bottom of the footer */
}

/* Style for the footer content */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 0 20px;
}

/* Style for the footer links */
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    align-items: flex-start; /* Align links at the top */
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffcc00; /* Color on hover */
}

/* Style for the footer social links */
.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-social li {
    margin: 0 10px;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 24px; /* Adjust the font size as needed */
}

/* Style for the footer bottom text */
.footer-bottom {
    background-color: #222; /* Background color for the bottom section */
    padding: 10px 0;
    text-align: center;
}

/* Style for the FontAwesome icons */
.fa {
    font-family: FontAwesome;
}




