/* styles.css */


.search-input {
    flex: 1;
    margin-right: 10px;
    border-radius: 40px;
    height: 25px;
    width: fit-content;
}

.search-dropdown {
    flex: 0;
    tab-size: 30px;
}

search-icon, .cart-icon {
    font-size: 20px; /* Adjust the size of the icon as needed */
    cursor: pointer;
    color: #fff;
}

cart-icon {
    margin-left: 10px; /* Add some spacing between the search and cart icons */
}


